@font-face {
    font-family: 'helvetica';
    src: url('/assets/fonts/helvetica-webfont.woff2') format('woff2'),
         url('/assets/fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* .container-fluid{
    display: flex;
} */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.body{
    font-family: 'helvetica';
    font-size: 14px;
    color: #000;
    font-weight: 300;

}

.container-fluid {
    background-color: blueviolet;
    width: 100%;
    padding: 0 136px;
    margin: 0 auto;
}

.hero{
    
    display: flex;

    
}

.hero .hero-right{
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    
}